<div class="col-md-12" >
    <div class="row" style="min-width: 200px!important;border-radius: 0px;">
        <div class="card text-white" style="border-color: transparent; background-color: #2b2b2b;" >
            <div class="card-header" style="background-color: #643e94;border-radius: 0px;">
                Bet Slip ({{betslipitems.length}})
            </div>
            <div *ngIf="successfullbet===true">
                <div class="card" style="margin: 3px; background: #1e1e1e;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h6 class="card-title" style="color: chartreuse;">Successfull bet made</h6>
                            </div>
                            <div class="col-2">
                                <i class="fa fa-times" style="color: #d9534f;" (click) = "closeSuccess()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="unsuccessfullbet===true">
                <div class="card" style="margin: 3px; background: #1e1e1e;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h6 class="card-title" style="color: red;">Unsuccessfull bet made</h6>
                            </div>
                            <div class="col-2">
                                <i class="fa fa-times" style="color: #d9534f;" (click) = "closeSuccess()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="default; else notDefault">
                <div class="card-body" style="margin: 3px; background: #1e1e1e;">
                    <p class="card-text"><strong>To place a bet: </strong> Choose the sport, tournament and event that you would like to bet on. Then select a market by clicking the odds that you would like to bet on</p>
                </div>
            </div>
            <ng-template #notDefault>
                <div *ngFor="let bet of betslipitems">
                    <div class="card" style="margin: 3px; background: #1e1e1e;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h6 class="card-title">{{bet.id}}. {{bet.bettype.name}} - {{bet.market.marketName}}</h6>
                                </div>
                                <div class="col-2">
                                    <i class="fa fa-times" style="color: #d9534f;" (click) = "removeBet(bet)"></i>
                                </div>
                            </div>
                            <p class="card-text">{{bet.sportype.name}} {{bet.odds}}</p>
                            <p class="card-text">{{bet.date | date : "medium"}}</p>
                            <p class="card-text">{{bet.event.name}}</p>

                                <button type="button" class="btn btn-primary btn-block" style="background:#643e94;border:#643e94" (click)="bookSingleBet(bet.id)">BOOK THIS BET</button>
                                <hr style="border: 0.5px solid white;">

                                  <div class="row" style="align-content: center!important;justify-content: center!important;display: flex!important;">
                                    <div class="col-md-6">
                                      
                                      <label style="font-size:small;">
                                          Stake : R  <input appcurrencyformatter="" #box (keyup)="calculatePayoutForStake(box.value,bet.odds,bet.id)" (click)="calculatePayoutForStake(box.value,bet.odds,bet.id)" value="{{bet.stake}}" class="form-control stake-input-box input-sm ng-pristine ng-valid ng-touched spinner"  min="1" type="number"  >
                                         </label>
                                    </div>
                                    <div class="col-md-6">
                                      <label style="font-size:small;">
                                          Payout : R 
                                          <input appcurrencyformatter="" #payout (keyup)="calculateStakeForPayout(payout.value,bet.odds,bet.id)" (click)="calculateStakeForPayout(payout.value,bet.odds,bet.id)"  value="{{bet.payout}}" class="form-control stake-input-box input-sm ng-pristine ng-valid ng-touched spinner"  min="1" type="number">
                                      </label>
                                    </div>
                                    </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="betslipitems.length>1">
                    <div class="card text-white" style="border-color: transparent; background-color: #2b2b2b;" >
                        <div class="card-header" style="background-color: #643e94;border-radius: 0px;">
                            Multiple
                        </div>
                        <div class="card-body text-center">
                            <div class="row d-flex text-nowrap justify-content-around" style="color: chartreuse;">
                                <div class="col-3">
                                    <p class="card-text">Odds</p>
                                    <p class="card-text">{{multipleodds}}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card-text">Bonus</p>
                                    <p class="card-text">{{bonus}}%</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text">Final Odds</p>
                                    <p class="card-text">{{finalodds}}</p>
                                </div>
                                
                            </div>

                            <div class="row d-flex justify-content-around mt-3">
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary btn-block" style="background:#643e94;border:#643e94" (click)="bookMultipleBet()">BOOK MULTIPLE</button>
                                    <hr style="border: 0.5px solid white;">
                                </div>
                                <div class="col-md-6">
                                          
                                    <label style="font-size:small;">
                                        Stake : R  <input appcurrencyformatter="" #box (keyup)="calculateMultiplePayoutForStake(box.value)" (click)="calculateMultiplePayoutForStake(box.value)" value="{{multiplestake}}" class="form-control stake-input-box input-sm ng-pristine ng-valid ng-touched spinner"  min="1" type="number"  >
                                       </label>
                                       <br>
                                  </div>
                                  <div class="col-md-6">
                                    <label style="font-size:small;">
                                        Payout : R 
                                        <input appcurrencyformatter="" #payout (keyup)="calculateMultipleStakeForPayout(payout.value)" (click)="calculateMultipleStakeForPayout(payout.value)"  value="{{multiplepayout}}" class="form-control stake-input-box input-sm ng-pristine ng-valid ng-touched spinner"  min="1" type="number">
                                    </label>
                                    <br>
                                  </div>
                            </div>


                            <br>
                            <p class="card-text" style="color:#2290cf;">Bet {{nextbonus.legs}} legs for a {{nextbonus.bonus}}% bonus</p>
                            <a name="bonustable" id="" style="color:goldenrod"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Show Bonus Table</a>

                        </div>

                        <div class="collapse" id="collapseExample">

                            <div class="container">
                                <table class="table table-bordered text-white">
                                    <thead class="thead" style="background-color: #1e1e1e!important;">
                                      <tr>
                                        <th scope="row"><h3>Legs</h3></th>
                                        <th scope="row"><h3>Bonus</h3></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bonusentry of bonustable"  style="background-color: #333333!important;">

                                            <div *ngIf="bonusentry.bonus==bonus; then highlightCell else defaultCell"></div>

                                            <ng-template #highlightCell>
                                                <td style="background-color: #145377 !important;">{{bonusentry.legs}}</td>
                                                <td style="background-color: #145377 !important;">{{bonusentry.bonus}}%</td>
                                            </ng-template>

                                            <ng-template #defaultCell>
                                                <td>{{bonusentry.legs}}</td>
                                                <td>{{bonusentry.bonus}}%</td>
                                            </ng-template>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-around">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-block" style="background:#d9534f;border:#d9534f;" (click) = "clearBets()">CLEAR</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-block" style="background:#643e94;border:#643e94">LOG IN</button>
                            </div>
                        </div>
                        <br>
                        <p class="card-text" style="font-size: small;">*Any payout involving Horse Racing is subject to 6% TAX</p>
                        <p class="card-text" style="font-size: small;">*Min. stake ZAR 1</p>
                    </div>
                </div>

            </ng-template>

        </div>

        <img class="card-img mt-2" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/go-back-to-old-website.gif" alt="" style="min-width: 100%!important;">

        <div class="mt-1">
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Upload FICA</button>
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Sports Blog</button>
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Social Responsibility</button>
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Soccer Betting News</button>
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Winning Form</button>
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Become and Affiliate</button>
            <button type="button" class="btn btn-primary betButton mt-1" style="min-width: 100%!important;">Careers</button>
        </div>
       
    </div>
</div>